html { 
    min-height:100%;
    position:relative
}
body { 
    height:100%;
    background-color: #e0e0e0;
}

#easel {
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 1vh;
    left: 0;
    right: 0;
    box-shadow: 10px 10px 5px #888888;
}

#brush-img {
    filter: invert('100%');
    height: 20px;
    width: 20px;
}